@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#menu-h {
  background-color: #e2a2b5;
}

#menu-h ul {
  max-width: 800px;
  list-style: none;
  padding: 0;
}

#menu-h ul li {
  display: inline;
}

#menu-h ul li a {
  color: #494949;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background 0.4s;
}

#menu-h ul li a:hover {
  color: #000;
}

#menu-h ul li:first-child a {
  float: left;
  color: #000000;
  font-weight: bold;
}

/* ---------- Footer ----------*/

footer {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 1632px;
  position: absolute;
  bottom: 0;
  background-color: #83bb9e;
  color: #2b2b2b;
}

footer a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 23px;

  color: #2b2b2b;
}

footer hr {
  border-top: 1.5px solid #2b2b2b;
  margin: 0px 100px 0px 100px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

#menu-f a {
  left: 146px;
  top: 1683px;

  text-decoration: none;
  color: #2b2b2b;
}

#menu-f a:hover {
  text-decoration: none;
  color: #000;
}

/*home-top*/

.home-top {
  display: flex;
  width: 100%;
  height: 830px;
  background-color: #e2a2b5;
  padding-top: 100px;
}

.home-image {
  padding: 0 75px 0 75px;
  z-index: 1;
}

.home-top-right hr {
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top: 1.5px solid #000  ;
}

.container-yellow {
  height: 100%;
  width: auto;
  background-color: #f4e3b1;
  border-radius: 100px 100px 0px 0px;
}
