@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#menu-h {
    background-color: #e2a2b5;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #494949;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background 0.4s;
}

#menu-h ul li a:hover {
    color: #000;
}

#menu-h ul li:first-child a {
    float: left;
    color: #000000;
    font-weight: bold;
}